body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  background-color: #B5E48C;
}


a:link {
  color: #184E77;
}


/* mouse over link */
a:hover {
  color: #B5E48C;
}



/* visited link */
a:visited {
  color: #52B69A;
}

