body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  background-color: yellow;
}


a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: orange;
}

